@model BikeStore.Models.BikeModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>BikeModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BikeModelName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BikeModelName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mark)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mark)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>


    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
